* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: whitesmoke;
}

h1 {
    margin-top: 30vh;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    margin-top: 5vh;
    font-family: sans-serif;
    color: #9a9a9a;
}

result {
    color: rgb(104, 202, 95);
    text-shadow: 0 0 5px #000;
}
